:root {
    --header-color: #51b7ff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: var(--header-color);
    position: fixed;
    z-index: 5;
    &__user-panel {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: end;

        & > * {
            margin: 0 10px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__subnav {
        width: 50vw;
        height: 50px;
        background-color: var(--background-subnav);
        margin: 0 auto;
        border-radius: 0 0 10px 10px;
    }
}

.wrapper__nav {
    display: flex;
    justify-content: space-between;
}
.title {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.wrapper__logo {
    font-weight: 700;
    font-size: 26px;
    color: black;
    text-decoration: none;
    line-height: 60px;
}
.title-main {
    color: var(--primary);
}
.logo {
    width: 80px;
    height: 80px;
}

.icon {
    width: 30px;
    height: 30px;
}

.more-btn {
    font-size: 20px;
    margin-left: 24px;
    background-color: transparent;
    padding: 6px;
    border: none;

    &:hover {
        cursor: pointer;
        color: var(--hover-color);
    }
}
